/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #e9e6d2;
}

.output {
  font-family: monospace;
  display: flex;
  flex-direction: row;
}

#home {
  width: 25px;
}

#cooper {
  width: 500px;
  display: block;
  margin: 0px;
}

.h3 {
  margin: 10px
}