/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #6a9ece;
    background-color: #a0caf0;
  }

  #screenshot {
    width: 700px;
  }

  #ss1 {
    width: 700px;
  }

  #ss2 {
    width: 700px;
  }

  #ss3 {
    width: 700px;
  }

  #ss4 {
    width: 700px;
  }

  #ss5 {
    width: 700px;
  }

  #ss6 {
    width: 700px;
  }